*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
*.hprof
/.idea/deploymentTargetSelector.xml
.artifacts/
